html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("C:/Users/Pedro/code/week-4-game/assets/images/crystals-gay.jpg");
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: transparent;
  height: auto;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #777;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
}
h1 {
  margin: 10px;
  color: #77003f;
  font-family: Marker Felt, fantasy;
  border-width: 2px;
  border-color: #ccc;
}
.sub-header {
  max-width: 960px;
  margin-left: 15%;
  margin-right: 10%;
}

#info {
  max-width: 260px;
  margin-left: 
}
.container {
  float: right;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  flex: 1 0 auto;
  padding: 20px;
  }

#legend {
  font-size: 24pt;
  text-align: center;
  padding-bottom: 5px;
}

h3 {
  font-family: Georgia, serif;
  text-align: center;
  border-color: #ccc;
  color:#77003f;
}
h2 {
  font-family: Georgia, serif;
  color: #ccc;
}

#start-button {
  font-family: Jazz LET, fantasy; 
  cursor: pointer; 
  margin-top: 67px;
  float: right;
  font-size: 30pt;
  background-color: #5177b5;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  padding: 10px;
  margin-right: 40%;
}
.crystal {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}

img:hover {
  -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

footer, .push {
  height: 30px;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #645e56;
  border-top: 8px solid #4aaaa5;
  flex: 0;
  padding: 20px;
}
